/* start variables */
:root {
  --main-color: #10cab7;
  --second-color: #2c4655;
  --section-padding: 60px;
  --section-background:#f6f6f6;
  --main-duration: 0.5s;
}
/* start global rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.containar {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .containar {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .containar {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .containar {
    width: 1170px;
  }
}
/* end global rules  */
/* Start Components */
  .spacial-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    text-align: center;
  }
  .spacial-heading + p {
    color: #797979;
    font-size: 20px;
    margin: -30px 0 0;
    text-align: center;
  }
  @media (max-width: 767px) {
    .spacial-heading {
      font-size: 60px;
    }
    .spacial-heading + p {
      margin-top: -20px;
    }
  }
/* End Components */
/* start header */
  header {
    padding: 15px;
  }

  header .containar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    width: 60px;
  }

  header nav {
    position: relative;

  }

  header nav:hover .icon span:nth-child(2) {
    width: 100%;
  }

  header nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  header nav .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }

  header nav .icon span:first-child {
    width: 100%;
  }
  header nav .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
  header nav .icon span:last-child {
    width: 100%;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 5;
  }

  header nav ul::before {
    content: '';
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -19px;
  }

  header nav:hover ul{
    display: block;
  }

  header nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    text-transform: capitalize;
}

header nav ul li a:hover {
  padding-left: 25px;
}

header nav ul li:not(:last-child) a {
  border-bottom: 2px solid #ddd;
}
/* end header */
/* Start Landing Section */
  .Landing {
    background-image: url(../img/Landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }

  .Landing .landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    text-transform: capitalize;
    width: 400px;
    max-width: 100%;
}

  .Landing .landing-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .Landing .landing-text p {
    font-size: 19px;
    color: white;
    line-height: 1.8;
  }
/* End Landing Section */
/* Start features */
  .features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }

  .features .containar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .features .feat {
    padding: 20px;
    text-align: center;
  }

  .features .feat i {
    color: var(--main-color);
    font-size: 50px;
  }

  .features .feat h3,
  .features .feat p {
    text-transform: capitalize;
  }

  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }

  .features .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 17px;
  }
/* End features */
/* Start services */
  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;

  }
  
  .services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
  }

  @media (max-width:767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }

  .services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
  }
  .services .services-content .srv .text {
    flex: 1;
  }

  .services .services-content .srv .text h3 {
    margin: 0 0 20px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    text-transform: capitalize;
  }

  .services .services-content .image {
    text-align: center;
    position: relative;
  }

  .services .services-content .image::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    background-color: var(--second-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
  }

  .services .services-content .image img {
    width: 260px;
  }

  @media (max-width:1199px) {
    .image-colum {
      display: none;
    }
  }
/* End services */
/* Start portfolio */
  .portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }

  .portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
  }

  .portfolio .portfolio-content .card {
    background-color: white;
  }
  .portfolio .portfolio-content .card img{
    max-width: 100%;
  }
  .portfolio .portfolio-content .card .info {
    padding: 20px;
  }

  .portfolio .portfolio-content .card .info h3 {
    margin: 0;
  }

  .portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
  }
/* End portfolio */
/* Start About */
  .about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
    max-height: 100%;
  }

  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }

  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }

  .about .about-content .text hr {
    width: 50px;
    border-color: var(--main-color);
    display: inline-block;
  }

  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  /* End About */
  /* Start Contact */
  .contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -1px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
  /* End Contact */
  /* Start Footer */
  .footer {
    background-color: var(--second-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }
/* End Footer */